body
  {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif,arial;
  font-size: xx-small;
  }

table
  {
  border-collapse: collapse;
  }
 
.connectionStatusPanel
  {
  background-color: #25272a;
  color: white;
  border-bottom: double 3px green; 
  width:100%;
  }

#status-bar-id
  {
  border-bottom: 2px solid blue;
  }

#status-bar-id td
  {
  vertical-align: middle !important;
  }

.statusbar-boardLabel 
   { 
   font-size: 150%; 
   font-weight: bold;
   color:blue;
   cursor: pointer;
   }

.statusbar-threadLabel 
   { 
   font-size: 150%; 
   font-weight: bold;
   color:green;
   cursor: pointer;
   }

.statusbar-powLabel 
   { 
   font-weight: bold;
   color:red;
   }

.generic-top-button-panel
  {
  padding-top: 0.8em;
  }

.generic-top-button-panel td
  {
  vertical-align: middle !important;
  }




.navigation-panel
  {
  height: 100%;  /** cover the whole height of the page */
  padding-right: 5px;
  }

.gwt-TreeItem
  {
  color: #448;  
  font-size: 10pt;
  font-weight: bold;  
  }
  
/* needed to have correct behaviour when HTL label is used */  
.gwt-Tree .gwt-TreeItem-selected  
  {
  display: table !important;
  background: #ffcad2;
  }
  

.login-grid
  {
  height: 100%;
  width: 100%;
  }  
  
.login-grid-vertical
  {
  padding: 1em;
  background-color: #f7c4a7;
  border: solid 2px red;
  }

.login-grid-logo
  {
  background-color: #292b2f;
  }

/* possibly not used anymore */
.top-generic-center-panel-button
  {
  padding-left: 10px;
  display:inline;  
/*  border: solid 1px red; */
  }


  
.grid-column-align-right
  {
  text-align: right;
  }

.flex-table-label
  {
  text-align: right;
  font-weight: bold;
  }


.padding-panel
  {
  padding-left: 0.4em;
  }
  
.innerCenterPanel
  {
  padding-top: 0.8em;
	width: 100%;
  }


.buttons-grid
  {
  padding: 0px;
  margin: 0px;
  }

.grid-table
  {
  border: solid 1px #808080;
  }

.grid-table td
  {
  /* magic CSS if you know what you are doing */
  border: solid 1px #d4d0c8;
  padding: 1px;
  font-size: 8pt;
  }
  
.grid-table-header
  {
  background-color: #4a3c8c;
  color: white;
  font-weight: bolder;
  }
  
.grid-table-row-odd
  {
  background-color: #e7e7ff;
  }

.grid-table-row-even
  {
  background-color: #f7f7f7;
  }

.itemLabelBold
  {
  font-weight: bolder;
  padding-right: 5px;
  }

.colorRed
  {
  color: red;
  }

.debugBorder
  {
  border: solid 1px blue;
  }

.double-edit-box
  {
  width: 4em;
  }
  
  
.export-import-labels-panel
  {
  padding: 0.5em; 
  border: red thin solid; 
  margin-top: 0.5em; 
  background-color: #f9fff8;  
  width: 100%;
  }
    
.image-as-button
  {
  display:inline;  
  cursor:pointer;
  cursor:hand;
  }

  
.chanm-ta-col
  {
  text-align: center;
  background: #C0FFC0;
	font-weight: bold;
  }  
  
.chanm-tset-col
  {
  text-align: center;
  background: #FFFFC0;
	font-weight: bold;
  }    

.grid-cell-align-top
	{
	vertical-align: top;
	text-align: left;
	}
	
	
.grid-cell-width-cento-percento
	{
  width: 100%; 
  border: solid 1px red;
	}
	
	
.better-PushButton
	{
/*  border           :1px solid #666; */
/*  font-size        :80%;  */
/*  background-color :red;  */
   margin:0px 3px 0px;
   cursor           :hand;
   padding          :3px;
	}
	
.better-PushButton-down-hovering
	{
   background-color :red;
	}
	
.better-PushButton-up-hovering
	{
   background-color :#0f0;
	}	
		
	

.picker_has_value
	{
	color: red;	
	font-weight: bold;
	}
	
.cellTableOddRowCustom
  {
  background-color: red;  
	}
	
.cellImageClick
  {
  float:left; 
  cursor:pointer;
  }

.cellImageClick:hover
  {
  background-color:red;
  }
	
.gwt-TabLayoutPanelContentContainer 
  {
  border-width: 0;
  }
  
  